.navbar ul{
  list-style-type: none;
  background-color: aqua;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display:block;
  text-align: center;
}

.navbar a:hover{
  background-color: whitesmoke;
}

.navbar li{
  float: left;
}
