<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: white;
            background-image: url('background images/orangutan.webp');
            background-blend-mode: lighten;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <img src="../static/images/logo.png" alt="Komodo Hub Logo" class="logo">
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact us.asp">Contact us</a></li>
            <li><a href="/aboutus">About</a></li>
            <li><a href="Support our mission.asp">Support Our Mission</a></li>
            <li><a href="explore conservation.asp">Explore Conservation</a></li>
        </ul>
    </nav>
    
    <div class="about">
        <h2>About Us</h2>
        <p>
            We at <b>Komodo Hub</b> are committed to preserving wildlife and their natural habitats. Our mission is to educate, protect, and raise awareness about endangered species around the world.
        </p>
    </div>
</body>

</html>